:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: white !important;
    background-color: #121212 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.tags {
    padding: 10px;
}

span.tag {
    padding: 1px 10px 1px 10px;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
}

span.tag.tag_CHARACTER {
    border-color: #00d916;
    color: #00d916;
    transition-duration: 0.3s;
}

span.tag.tag_SOURCE {
    border-color: #ed00e1;
    color: #ed00e1;
    transition-duration: 0.3s;
}

span.tag.tag_MISC {
    border-color: #00aeff;
    transition-duration: 0.3s;
    color: #00aeff;
}

a {
    text-decoration:none !important;
    color: white !important;
}

a:hover span.tag.tag_CHARACTER {
    background-color: #00d916;
    color: #242424;
    transition-duration: 0.3s;
}

a:hover span.tag.tag_SOURCE {
    background-color: #ed00e1;
    color:#242424;
    transition-duration: 0.3s;
}

a:hover span.tag.tag_MISC {
    background-color: #00aeff;
    color: #242424;
    transition-duration: 0.3s;
}

.card {
    color: white;
    background-color: #242424 !important;
    padding: 10px;
    margin: 10px;
    border-radius: 20px !important;
}

.header {
    text-align: left;
    position: absolute;
    top: 0px;
    display: block;
    padding: 10px;
}

.header li {
    list-style: none;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    background: #121212;
    display: inline-block;
}

.header a li {
    transition-duration: 0.3s;
}

.header a.menu-item li:hover {
    background-color: #ae2070;
    color: #121212;
    transition-duration: 0.3s;
}

.search-form input {
    margin: 10px;
    padding: 5px;
}

button.search-btn {
    border: 1px solid #ae2070;
    color: #ae2070;
    transition-duration: 0.3s;
    margin: 10px;
}

button.search-btn:hover {
    background-color: #ae2070;
    color: #121212;
    transition-duration: 0.3s;
}

.list {
    display: block;
    position: relative;
    top: 40px;
}

#login-form {
    background-color: #242424;
    padding: 40px;
    border-radius: 20px;
    box-shadow: black 0px 0px 10px;
}

.input {
    padding: 20px;
}

.image-container {
    height: fit-content;
}

.image-container img {
    max-width: 250px;
}

.big-image {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
}

.big-image-bg {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
}

.big-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    height: auto;
}

.tag-title {
    position: relative;
}

label.required::after {
    content: '*';
    color: red;
}

input.invalid {
   border: 2px solid red;
}

.dropdown-menu.show {
    max-height: 250px;
    overflow-y:scroll;
}

.dropdown-menu.show,
.dropdown-menu a,
.dropdown-menu::selection{
    background-color: #303030;
}

.dropdown-menu a:hover {
    background-color: #949494
}

.dropdown-menu a.disabled {
    color: #bababa !important
}

.tag-list {
    max-width: 100%;
    min-height: 200px;
    height: fit-content;
}

.tag-type-CHARACTER {
    color: #00d916 !important
}

.tag-type-SOURCE {
    color: #ed00e1 !important
}

.tag-type-MISC {
    color: #00aeff !important
}

.adv-search-btn button {
    margin: auto;
}

#adv-search-form .tag-list {
    text-align: left;
    overflow-y: scroll;
    max-width: 60%;
    min-height: 200px;
    height: fit-content;
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 500px;
    height: auto;
}

span.breadcrumb {
    font-variant: small-caps;
    font-size: smaller;
    color: #8c8c8c;
}

.breadcrumb::before {
    content: 'home';
    color: #8c8c8c;
}

.error {
    background-color: #242424;
    padding: 40px !important;
    border-radius: 20px;
    text-align: left;
}

.error-message {
    color: #8c8c8c;
}

.error-sign {
    color: #ff8d00;
    font-size: 300%;
}